﻿#wrapper {
    text-align: center;

    height: 400px;
    width: 500px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;

    margin: auto;
}

.centered {
    text-align: center;
    width: 500px;
    overflow: hidden;
    vertical-align: middle;
    display: inline-block;
}
.resultsDiv {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-color: #ddd;
    border-radius: 4px;
    border-width: 1px;
    overflow: hidden;
    margin-top: 50px;
    visibility: hidden;
}
#loadingDiv {
    height: 120px;
    width: 120px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}
#loadingGif {
    visibility: hidden;
    height: 120px;
    width: 120px;
}
#inputLinkResult {
    width: 35% !important;
}
#requestedUrl {
    font-size: 18pt;
    color: #337ab7;
}
#requestedUrlStatus {
    font-size: 16pt;
    color: #00CC00;
}

#requestedUrlStatusError {
    font-size: 16pt;
    color: #CC0000;
}

tr > td  {
    vertical-align: middle !important;
}

.table {
    margin-bottom: 0px !important;
}

.noborder {
    border: none !important;
}

#requestedLinkOtherInfo {
    font-size: 14pt;
    color: #ddd;
}

#requestedLinkOtherInfoError {
    font-size: 14pt;
    color: #000;
}

.invisible {
    position : absolute;
    z-index: 5;
    visibility: hidden !important;
}

.resultsHeader {
    visibility: hidden;
    margin-top: 50px;
}

/* Color: #337ab7 */

#processedCount {
    text-align: right;
    font-size: 16pt;
    width: 70px;
}

#linkResultContent {
    max-width: 250px !important; 
    word-wrap: break-word;
}

.exportLink {
    cursor: pointer;
}

#homeLink {
    position: absolute;
    z-index: 4;
    top: 0px;
    left: 10px;
    font-size: 10pt;
    color: #000;
}